#main{
  margin-left: 250px;
  width: 1000px;
  height: 700px;
  border: 1px solid #000000;
  float: left;
}
#main .redSquare{
  height: 300px;
  width: 300px;
  background-color: #F25544;
  display: inline-block;
  margin-left: 350px;
  margin-top: 180px;
}
#main .yellowsquare{
  height: 200px;
  width: 200px;
  background-color:#F7D13E;
  display: inline-block;
  margin-left: 50px;
  margin-top: 50px;
}
#main .bluesquare{
  height: 100px;
  width: 100px;
  background-color:rgb(26, 104, 150);
  display: inline-block;
  margin-left: 50px;
  margin-top: 50px;
}
